<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>¿Quieres ganar más bitcoins extra?</h2>
      <h3>
        <strong
          >¡Sigue estos sencillos pasos para maximizar tus ganancias!</strong
        >
      </h3>
      <div style="margin: 4vh auto;">
        <p>
          Otra página para ir invirtiendo tu tiempo y empezar a ganar dinero
          desde casa es FreeBitco.in
        </p>
        <p>
          Simplemente resolviendo una Captcha tendremos opción cada hora a un
          premio de hasta 22 Satoshis!
        </p>
      </div>
    </div>
    <div class="container">
      <img
        src="/img/freebitpays.png"
        alt="freebit"
        style="max-height: 450px;"
      />
    </div>
    <div class="container">
      <a
        href="https://bit.ly/myFreeBitco_in"
        target="_blank"
        class="btn btn-default btn-xl wow tada"
        style="margin-top: 4vh;"
        >Empieza ya!</a
      >
    </div>
    <div id="cf_banner">
      <a href="https://freebitco.in/?r=21225155" target="_blank"
        ><img
          class="center animated pulse infinite"
          style="animation-duration: 1.5s;"
          src="/img/banner1.png"
          alt="1"
      /></a>
    </div>
  </div>
</aside>
