<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Empieza a generar ingresos extra</h2>

        <p class="text-faded" style="text-align: justify; margin-top: 4vh;">
          Justo después de que Bitcoin empezara a coger fuerza comenzó una nueva
          tendencia: los Bitcoin Faucets. En los Bitcoin Faucets, cada usuario
          tiene derecho a reclamar Bitcoins gratis cada pocos minutos o pocas
          horas, dependiendo del sitio.
        </p>
        <p class="text-faded" style="text-align: justify;">
          Estos Bitcoins gratis vienen en forma de recompensa por pasar el
          tiempo haciendo clic en un botón de vez en cuando. En los sitios web
          de faucets (o grifos) de Bitcoin te dan dinero gratis con la esperanza
          de generar algunos ingresos extra al hacer clic en un anuncio, o
          incluso por verlos. Es una situación en la que el usuario gana
          bitcoins y los anunciantes también de una forma rápida y sencilla.
        </p>
        <p class="text-faded" style="text-align: justify;">
          Por ejemplo, me inscribí en MoonBitcoin para mostraros cuánto dinero
          se puede ganar con uno de los mejores faucets (siempre puedes probar a
          abrir 20 cuentas y ganar más todavía). Al registrarme en el sitio web,
          recibí la asombrosa cantidad de 59 Satoshi (0.0000059 BTC), hice clic
          en reclamar y el dinero se transfirió a mi cuenta de CoinPot
          rápidamente. Esta suma vale 0.0045 $, para ser el primero no está mal.
        </p>
        <div class="apanio">
          <img
            src="/img/uindfve834v34sdf.png"
            style="width: 40%; max-width: 300px;"
            alt="frigo"
          />
          <img
            id="myImg"
            style="max-width: 300px;"
            src="/img/p453msdf9423fds.jpg"
            alt="screen"
            title="Moonbit Screenshot / Captura Pantalla Moonbit"
            class="capture"
          />
          <!-- The Modal -->
          <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01" alt="" src=".." />
            <div id="caption"></div>
          </div>
        </div>

        <p class="text-faded" style="text-align: justify;">
          A continuación, se puede intentar reclamar el dinero a partir de 5
          minutos que
          <span class="font-heavy">Moon bitcoin hack</span> genera, entonces de
          acuerdo con el sitio web: “El faucet se llenará gradualmente,
          inicialmente bastante rápido aunque se ralentizará con el tiempo,
          hasta que realices un claim. Así que cuanto más tiempo lo dejes, más
          podrás reclamar. Significa que necesitamos esperar aproximadamente una
          hora para ver cuánto puedo generar a largo plazo.
        </p>

        <p class="text-faded" style="text-align: justify;">
          He hecho un cálculo rápido desde que he empezado con la cantidad
          obtenida en periodos de 30 minutos (imagen en el inicio de la página).
        </p>

        <p
          class="w3-justify result"
          style="background-color: white; color: #ef5a34; padding: 10px;"
        >
          25 Satoshi * 4 (en 1 hora) = 100 Satoshi * 24 (1 día) = 2400 Satoshi *
          7 (1 semana) = 16800 Satoshi =
          <span class="font-heavy bigger"
            >0.0016800 BTC = 11.32$ en 1 semana!</span
          >
        </p>
        <p class="text-faded" style="text-align: justify;">
          Tened en cuenta que esas sumas deberían disminuir y probablemente ser
          menos de lo que yo he calculado.
        </p>

        <p class="text-faded" style="text-align: justify;">
          En conclusión,
          <span id="how" class="font-heavy">The Moon Bitcoin hack</span> es un
          truco simple para ganar algún dinero extra al mes. Si bien es
          imposible obtener un pago honesto de esos faucets es posible generar
          Bitcoins gratis y comenzar su Bitcoin aventura lentamente.
        </p>
      </div>
    </div>
  </div>
</section>
