<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">
          En cuantas más páginas te registres más ganancias por hora tendrás.
        </h2>
        <p>
          CONSEJO: Puedes establecer una rutina de alarmas y no perder tiempo al
          reclamar tus bitcoins. Y recuerda...
        </p>
      </div>
    </div>
    <p class="h3 text-justify" style="color: #EF5A34">
      Elige un trabajo que te guste, y nunca tendrás que volver a trabajar en tu
      vida. Todos tus sueños pueden hacerse realidad si eres constante y tienes
      el coraje de perseguirlos.
    </p>
  </div>
</section>
